* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;

    border: none;
    border-radius: 0px;
}

window#waybar {
    background: #1e1e2e;
    color: #cdd6f4;
    border-bottom: 1px solid #d7b4f3;
}

/* =========================
   WORKSPACES
   ========================= */

#custom-workspace {
    margin: 7px 0;
    
    margin-left: 5px;

    padding-left: 16px;
    padding-right: 16px;

    min-width: 245px;

    background: #181825;

    border: 1px solid #f5c2e7;
    border-radius: 5px;

    color: #f5c2e7;
}

/* =========================
   TRAY
   ========================= */

#tray {
    margin: 7px 0;

    padding-left: 10px;
    padding-right: 10px;

    background: #181825;

    border: 1px solid #d7b4f3;
    border-radius: 5px;

    color: #cdd6f4;
}

/* =========================
   CLOCK
   ========================= */

#clock {
    margin: 7px 0;

    padding-left: 12px;
    padding-right: 12px;

    background: #181825;

    border: 1px solid #cba6f7;
    border-radius: 5px;

    color: #cba6f7;
}

/* =========================
   VOLUME
   ========================= */

#pulseaudio {
    margin: 7px 0;

    padding-left: 12px;
    padding-right: 12px;

    background: #181825;

    border: 1px solid #89b4fa;
    border-radius: 5px;

    color: #89b4fa;
}

/* =========================
   BATTERY
   ========================= */

#battery {
    margin: 7px 0;

    padding-left: 12px;
    padding-right: 12px;

    background: #181825;

    border: 1px solid #a6e3a1;
    border-radius: 5px;

    color: #a6e3a1;
}

/* =========================
   NETWORK
   ========================= */

#network {
    margin: 7px 0;
    
    margin-right: 5px;

    padding-left: 12px;
    padding-right: 12px;

    background: #181825;

    border: 1px solid #a6e3a1;
    border-radius: 5px;

    color: #a6e3a1;
}

/* =========================
   HOVER
   ========================= */

#custom-workspace:hover,
#tray:hover,
#clock:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
    background: #313244;
}


#mpris {
    margin: 7px 0;

    padding-left: 12px;
    padding-right: 12px;

    background: #181825;

    border: 1px solid #cba6f7;
    border-radius: 5px;

    color: #cba6f7;
}


#custom-pikachu {
    margin: 0;
    padding: 0 6px;
    min-width: 42px;
    background: transparent;
}
